*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.moc
*.qmlc
*.jsc
*.files
*.includes
*.autosave
*.config
*.creator
*.pro.user
*.qbs.user
*.qmlproject.user
*.pro.user.*
*.qbs.user.*
*.qmlproject.user.*
*.creator.user*
*creator.user*
*build-*
*_plugin_import.cpp
Makefile*
target_wrapper.*
CMakeLists.txt.user*
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
object_script.*.Release
object_script.*.Debug
compile_commands.json
/.qmake.cache
/.qmake.stash

